.SearchButton{
    
}
.inputSearch {
    background-color: #212121;
    max-width: 190px;
    height: 10px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .inputSearch:focus {
    color: rgb(255, 0, 0);
    background-color: #212121;
    outline-color: rgb(255, 0, 0);
    box-shadow: -3px -3px 15px rgb(255, 0, 0);
    transition: .1s;
    transition-property: box-shadow;
  }
  .buttonSearchBar1 {
    position: relative;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ff0000;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
   }
   
   .buttonSearchBar1:hover {
    box-shadow: 0 0 10px #ff0000, 0 0 25px #ff9500, 0 0 50px #ff0000;
    transition-delay: 0.6s;
   }
   
   .buttonSearchBar1 .spanSearch {
    position: absolute;
   }
   
   .buttonSearchBar1 .spanSearch:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff9500);
   }
   
   .buttonSearchBar1:hover .spanSearch:nth-child(1) {
    left: 100%;
    transition: 0.7s;
   }
   
   .buttonSearchBar1 .spanSearch:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ff0000);
   }
   
   .buttonSearchBar1:hover .spanSearch:nth-child(3) {
    right: 100%;
    transition: 0.7s;
    transition-delay: 0.35s;
   }
   
   .buttonSearchBar1 .spanSearch:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ff0000);
   }
   
   .buttonSearchBar1:hover .spanSearch:nth-child(2) {
    top: 100%;
    transition: 0.7s;
    transition-delay: 0.17s;
   }
   
   .buttonSearchBar1 .spanSearch:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ff0000);
   }
   
   .buttonSearchBar1:hover .spanSearch:nth-child(4) {
    bottom: 100%;
    transition: 0.7s;
    transition-delay: 0.52s;
   }
   
   .buttonSearchBar1:active {
    background: #ff9500;
    background: linear-gradient(to top right, #ff0000, #ff9500);
    color: #bfbfbf;
    box-shadow: 0 0 8px #ff0000, 0 0 8px #ff9500, 0 0 8px #ff0000;
    transition: 0.1s;
   }
   
   .buttonSearchBar1:active .spanSearch:nth-child(1) 
   .spanSearch:nth-child(2) 
   .spanSearch:nth-child(2) 
   .spanSearch:nth-child(2) {
    transition: none;
    transition-delay: none;
   }